
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.header{
    min-height: 25vh;
    width: 100%;
    background-image: url("src\assets\im-ayuda.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.title-box{
    width: 90%;
    color:azure;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.title-box h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size:85px;
    font-weight: lighter;
    color:#ffffff
}

.title-box p{
    font-size:22px;
    font-weight: lighter;
    color:#ffffff;
    transform: translate(0%, 100%)
}

.content{
    min-height: 80%;
    width: 100%;
    background-image: url("src\assets\background.png");
    background-position: top;
    background-size: cover;
    position: relative;
}

.content-box{
    width: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.mat-expansion-panel {
    background: #ffffff;
}

.mat-expansion-panel-header mat-panel-title{
    color: #000000;
    font-size: 20px;
}

.mat-expansion-panel p{
    color: #000000;
    font-size: 20px;
    font-weight: lighter;
}

.mat-expansion-panel-header mat-panel-title:hover {
    color: #715fb8;
}

.mat-flat-button{
    color: aqua;
}
