<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,100;1,300;1,400&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,500;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
        <div class="title-box">
            <h1>Preguntas Frecuentes</h1>
            <p>¿Tienes dudas acerca de DivPay? Te mostramos las preguntas más frecuentes que hemos recibido que puede que te puedan ayudar</p>
        </div>
    </section>

    <section class="content">
        <div class="content-box">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Cómo es el proceso de cambio? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Con qué bancos trabajan? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Cuánto tiempo demora el intercambio? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Cuál es el máximo monto que puedo cambiar en DivPay? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Cuál es el mínimo que puedo cambiar? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Qué tipo de cupones puedo recibir? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Dónde encuentro el número de operación? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿DivPay es seguro? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Es necesaria verificar mi identidad? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title> ¿Puedo cambiar dinero con cuentas bancarias que no sean mías? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p></p>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </section>


        

</body>
</html>

