  .histpage {

    min-height: 100%;
    width: 100%;
    background-image: url("src\assets\background.png");
    background-position: top;
    background-size: cover;
    position: relative;
  }

  .records {
    min-width: none;
    width: 70%;
    position: absolute;
    padding-left: 29%;
    top: 35%;
    left: 30%;
    transform: translate(-40%, 0%);
  }

  .title {
    width: 70%;
    position: absolute;
    padding-left: 29%;
    top: 15%;
    left: 30%;
    transform: translate(-40%, 0%);
  }

  .title h1{
    color: #704ca7;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
  }

  .example-tab-icon {
    margin-right: 10px;
  }

  .mat-list-item{
    font-size: 25px;
  }

  .p1{
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
  }
  .p2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #704ca7;
  }

  .update-button {
    position: absolute;
    transform: translate(30%,150%);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .date1{
    position: relative;
    transform: translate(0%, 40%);
  }
  
  .date2{
    position: relative;
    left: 5%;
    transform: translate(0%, 40%);
  }

  .filter-button {
    position: relative;
    left: 20%;
    transform: translate(0%, 50%);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }