<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,100;1,300;1,400&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,500;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">

</head>
<body>
    <section class="header">

        <div class="text-box">
            
            <h1>¡Bienvenido a DivPay!</h1>
            <p></p>
            <img src="assets/shp.jpg" width="750" height="400">
            <p></p>
            <p>Olvídate de los métodos tradicionales de compra de monedas extranjeras. Con DivPay, <br>
                cambia soles, dólares o incluso euros en minutos desde tu casa.
            </p>
            <a href="" class="hero-btn">Iniciar Operación</a>
        </div>
    </section>

</body>

</html>