<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
</head>
<body>
 
    <div id="envoltura">
        <div id="contenedor">
 
            <div id="cuerpo">
                <form id="form-login" action="" autocomplete="off">

                    <p><label >Nombre Usuario:</label></p>
                        <input type="text" id="username" placeholder="Ingresa un Nombre de Usuario" autofocus="" required><p></p>

                    <p><label>Contraseña:</label></p>
                        <input type="text" id="password" placeholder="Ingrese una contrasenia" required><p></p><p></p>
						
					<button (click)="login()">Log in</button>
                </form>
            </div>
        </div>
    </div>
</body>
 
</html>