*{
    font-family: 'Josefin Sans', sans-serif;
}

.beneficios-page{
    min-height: 100%;
    width: 100%;
    background-image: url("src\assets\background.png");
    background-position: top;
    background-size: cover;
    position: relative;
}

h1{
    color: #704ca7;
    text-align: center;
    padding-top:15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    padding-top: 50px;
}
p{
    color: rgb(248, 147, 6);
    text-align: center;
    padding-top:30px;
    font-size: 25px;
}
p.centrado {
    position: center;
}
button.centrado {
    width: auto; 
    margin-left: 50%;
    margin-top: 2%;
    transform: translateX(-50%);
    font-size: 20px;
}