h1{
    color: rgb(46, 29, 229);
    text-align: center;
    padding-top:15px;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    padding-top: 50px;
}
p{
    color: rgb(0, 255, 21);
    text-align: center;
    padding-top:30px;
    font-size: 20px;
}
p.centrado {
    position: center;
}
button.centrado {
    width: auto; 
    margin-left: 50%;
    margin-top: 2%;
    transform: translateX(-50%);
}