<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,100;1,300;1,400&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,500;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="beneficios-page">
        <h1>¡Gana con DivPay!</h1>
        <p>Realice los siguientes pasos para conseguir un cupón, <br>y usarlo en la compra y venta de divisas <br>
           dentro de nuestra aplicación:</p>
    
        <p class="centrado">
            <img src="assets/paso1_cupon.PNG" width="300px" height="200px" HSPACE="100px">
            <img src="assets/paso2_cupon.PNG" width="300px" height="200px">
        </p>
        <button mat-raised-button color="warn" class="centrado" routerLink="/beneficios/progreso">Click para invitar</button>
    </section>
    
</body>
</html>